<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Simple Demo is Simple</title>
    <style>
    </style>

</head>
<body>

<h1>Simple Demo is Simple</h1>

<button id="login1" style="">도요타 Login</button>
<button id="logout1" style="">도요타 Logout</button>
<div id="profile1" style="display:none"></div>


<button id="login2" style="">렉서스 Login</button>
<button id="logout2" style="">렉서스 Logout</button>
<div id="profile2" style="display:none"></div>

<script src="https://cdn.auth0.com/js/auth0-spa-js/1.20/auth0-spa-js.production.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    let login1Btn, logout1Btn, profile1Div;
    let login2Btn, logout2Btn, profile2Div;
    let auth0Client1;
    let auth0Client2;

    document.addEventListener('DOMContentLoaded', init, false);

    async function init() {
        login1Btn = document.querySelector('#login1');
        logout1Btn = document.querySelector('#logout1');
        profile1Div = document.querySelector('#profile1');


        login2Btn = document.querySelector('#login2');
        logout2Btn = document.querySelector('#logout2');
        profile2Div = document.querySelector('#profile2');

        auth0Client1 = await createAuth0Client({
            domain: "[(@{ ${toyotaDomain} })]",
            client_id: "[(@{ ${toyotaClientId} })]",
            redirect_uri: "[(@{ ${toyotaRedirectUri} })]",
            audience: "[(@{ ${toyotaAudience} })]"
        });


        auth0Client2 = await createAuth0Client({
            domain: "[(@{ ${lexusDomain} })]",
            client_id: "[(@{ ${lexusClientId} })]",
            redirect_uri: "[(@{ ${lexusRedirectUri} })]",
            audience: "[(@{ ${lexusAudience} })]"
        });

        // handle coming back from login
        if (location.search.includes("state=") &&
            (location.search.includes("code=") ||
                location.search.includes("error="))) {

            urlSearch = new URLSearchParams(location.search);
            mode = urlSearch.get('mode')


            console.log('handleRedirectCallback : ', mode);
            if (mode === 'toyota') {
                await auth0Client1.handleRedirectCallback();
            } else {
                await auth0Client2.handleRedirectCallback();
            }
            // window.history.replaceState({}, document.title, "/");
        }

        const isAuthenticated1 = await auth0Client1.isAuthenticated();
        const isAuthenticated2 = await auth0Client2.isAuthenticated();
        console.log('isAuthenticated1', isAuthenticated1);
        console.log('isAuthenticated2', isAuthenticated2);

        if(!isAuthenticated1) {
            login1Btn.style.display = '';
        } else {
            logout1Btn.style.display = null;
            const userProfile = await auth0Client1.getUser();
            const accessToken = await auth0Client1.getTokenSilently();

            console.log('userProfile1', userProfile);
            profile1Div.innerHTML = `<h2>Toyota Profile</h2><p>${accessToken}</p><pre>${JSON.stringify(userProfile,null,'\t')}</pre></div>.<p><img src="${userProfile.picture}" /></p>`;
            profile1Div.style.display = '';
        }


        if(!isAuthenticated2) {
            login2Btn.style.display = '';
        } else {
            login2Btn.style.display = null;
            const userProfile = await auth0Client2.getUser();
            const accessToken = await auth0Client2.getTokenSilently();

            console.log('userProfile2', userProfile);
            profile2Div.innerHTML = `<h2>Lexus Profile</h2><p>${accessToken}</p><pre>${JSON.stringify(userProfile,null,'\t')}</pre></div>.<p><img src="${userProfile.picture}" /></p>`;
            profile2Div.style.display = '';
        }

        login1Btn.addEventListener("click", e => {
            e.preventDefault();
            auth0Client1.loginWithRedirect();
        });

        login2Btn.addEventListener("click", e => {
            e.preventDefault();
            auth0Client2.loginWithRedirect();
        });

        logout1Btn.addEventListener("click", e => {
            e.preventDefault();
            auth0Client1.logout();
        });

        logout2Btn.addEventListener("click", e => {
            e.preventDefault();
            auth0Client2.logout();
        });

    }
    /*]]>*/
</script>
</body>

</html>